<!DOCTYPE html>
<meta charset="utf-8">
<title>Coffee Plan - Setup</title>
    <form action="/runplan">
        robot_cell = <input type="text" name="robot_cell" value="{{robot_cell}}">
        machines = <input id = "machines" type="text" name="machines" value="{{machines}}">
        petitions = <input id = "petitions" type="text" name="petitions" value="{{petitions}}">
        <input type="submit" value="Submit">
    </form>
<div id="grid"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>



//add square grid of widthxheight squares and add input boxes for machine and petition coffee count configuration
var width = 6,
    height = 6;

var squares = []
var machines = []
var petitions = []
d3.range(height).forEach(function(j) {
  var row = [];
  d3.range(width).forEach(function(i) {
    var square = d3.select("#grid")
      .append("svg")
      .attr("class", "square")
      .attr("id","square" + (width*j + i))
    square.append('text')
         .text((width*j + i))
         .attr("x",55)
         .attr("y",65)
         .attr("stroke","black")
         .attr("stroke-width","1")
    //machine capacity input
    square.append("foreignObject")
        .append("xhtml:div")
        .html("<input type='text' id=machines" + (width*j + i) + " placeholder='machines' style='width:50px;height:10px;' onchange='UpdateMachines(" + (width*j + i) + ")'></input>");
    //petitioned coffees input
    square.append("foreignObject")
        .attr("y",25)
        .append("xhtml:div")
        .html("<input type='text' id=petitions" + (width*j + i) + " placeholder='petitions' style='width:50px;height:10px;' onchange='UpdatePetitions(" + (width*j + i) + ")'></input>");

    row.push(square);
    machines.push(0);
    petitions.push(0);
  });
  squares.push(row);
})

//update list of coffee machine and capacities on user input
function UpdateMachines(cell_index){
    var machine_count= parseInt(d3.select("#machines" + cell_index).property("value"))
    if (isNaN(machine_count)){//set to zero if user deletes input
      machine_count = 0
    }
    machines[cell_index] = machine_count
    flat_machines = machines.join('')
    d3.select("#machines").property("value", flat_machines)
}
//update list of coffee petitions and counts on user input
function UpdatePetitions(cell_index){
    var petition_count= parseInt(d3.select("#petitions" + cell_index).property("value"))
    if (isNaN(petition_count)){//set to zero if user deletes input
      petition_count = 0
    }
    petitions[cell_index] = petition_count
    flat_petitions = petitions.join('')
    d3.select("#petitions").property("value",flat_petitions)
}
</script>

<style>
#grid {
  width: 480px;
  height: 480px;
}
.square {
  width: 75px;
  height: 75px;
  margin: 1px;
  background: #ddd;
  float: left;
}
.square.active {
  background: #d21;
}
</style>