<!DOCTYPE html>
<meta charset="utf-8">
<title>Coffee Plan - Simulation</title>
  <p>
    Plan Step = <span id="nPlan-val">0</span>
    <input type="range" min="0" max="100" id="nPlan" step="1" value="0">
  </p>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

var width = 1350,
    height = 1503

svg = d3.select("body")
   .append("div")
   .classed("svg-container", true) //container class to make it responsive
   .append("svg")
   //responsive SVG needs these 2 attributes and no width and height attr
   .attr("preserveAspectRatio", "xMinYMin meet")
   .attr("viewBox", "0 0 1350 " + height)
   //class to make it responsive
   .classed("svg-content-responsive", true)

  //define square grid of grid_widthxgrid_height squares
  var grid_width = 6,
      grid_height = 6;

  //for each row and column in the grid, add a rectangle to the svg, offsetted by their x-y coords
  var squares = []
  d3.range(grid_height).forEach(function(j) {
    var row = [];
    d3.range(grid_width).forEach(function(i) {
      var square = svg.append('g')
                      .attr("transform", "translate(" + 100*i + "," + 100*j + ")")
                      .attr("id","square" + (grid_width*j + i))

      square.append('rect')
        .attr('width',100)
        .attr('height',100)
        .attr('fill','None')
        .attr("stroke","black")
        .attr("stroke-width","1")
        .attr("class", "square")
        
      square.append('text')
           .text((grid_width*j + i))
           .attr("x",55)
           .attr("y",65)
           .attr("stroke","black")
           .attr("stroke-width","1")
      row.push(square);
    });
    squares.push(row);
  })




var callback = function(data){
 //function called from d3.json data load method. Displays planner action list and renders the robot, machine and petitions in the correct offices
  
 //Plan Step slider input controller
  d3.select("#nPlan")
  .attr('max',data.length-1)
  .attr("value","0")
  .on("change", function() {
    d3.select("#nPlan-val").text(this.value)
    d3.select("#nPlan").attr("value",this.value)
    render_state(this.value)
  });

  //performed action list
  var actions = svg.append("g")
                       .attr("width",300)
                       .attr("height",500)
                       .attr("transform", "translate(700,50)")
                       .selectAll(".action")
                       .data(data).enter()

  render_state(0)

  function render_state(state_indx){
    //render the current state for the Plan Step slider input state index
    state_indx = parseInt(state_indx)
    d3.selectAll('.state-img').remove();

    //displaytext of performed actions
    svg.selectAll(".action").remove();
    actions.append("text")
               .text(function(d,i){
                        if (i<=state_indx){
                          return d['action'] + '-----total steps = ' + d['state']['steps']
                        }
                      })
               .attr('y',function(d,i){return i*20})
               .style("font-weight","bold")
               .attr('class','action')

    //render robot image in robot-location office
    d3.select('#square' + data[state_indx]['state']['robot-location']).append("svg:image")
      .attr('width',50)
      .attr('height',75)
      .attr('y',20)
      .attr('class','state-img')
      .attr("xlink:href","static/robot.PNG")

    //render machine image for each office with a coffee machine and the respective capacities
    for (var office in data[state_indx]['state']['machines']) {
      for (i = 0; i < data[state_indx]['state']['machines'][office]; i++) { 
        d3.select('#square' + office).append("svg:image")
        .attr('width',20)
        .attr('height',20)
        .attr('x',i*22)
        .attr('class','state-img')
        .attr("xlink:href","static/coffee_machine.PNG")
      }
    }

    //render coffee image for each office with a petition and number of coffees requested
    for (var office in data[state_indx]['state']['petitions']) {
      for (i = 0; i < data[state_indx]['state']['petitions'][office]; i++) { 
        d3.select('#square' + office).append("svg:image")
        .attr('width',20)
        .attr('height',20)
        .attr('x',i*22)
        .attr('y',22)
        .attr('class','state-img')
        .attr("xlink:href","static/coffee_petition.PNG")
      }
    }
  }
}

//data call to flask server for input data parsing and plan building
d3.json("/gdata?robot_cell={{robot_cell}}&machines={{machines}}&petitions={{petitions}}", callback);

</script>

<style>
#grid {
  width: 480px;
  height: 480px;
}
.square {
  width: 75px;
  height: 75px;
  margin: 1px;
  background: #ddd;
  float: left;
}
.square.active {
  background: #d21;
}
</style>